@import './colors.scss';
@import './classes.scss';

.main-content {
  padding: 30px;
  background-color: rgb(218, 212, 212);

  &__post-form {
    @extend %bordered-block;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    background-color: $no_bgc;
  }

  &__posts {
    @extend %bordered-block;
    margin: 20px auto;
    min-height: 20px;
    display: flex;
    flex-direction: column;

    &-post {
      background-color: $no_bgc;
      @extend %bordered-block;
      width: 70%;
      min-height: 20px;
      margin: 20px;
      padding: 15px;

      &.other-user {
        align-self: flex-end;
      }

      &-title {
        text-decoration: underline;
      }

      &-content {
        border: 1px solid black;
        padding: 10px;
        overflow: scroll;
      }

      &-bottom-info {
        font-size: 12px;
      }

    }

  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 229, 229);
  z-index: 2;
  opacity: 0.8;
  transition: 1s all;
  visibility: visible;

  .spin {
    width: 100%;
    height: 100%;
    position: absolute;

    background: url('../d11.gif') no-repeat center center;
    background-size: cover;
  }

  .done {
    opacity: 0;
    visibility: hidden;
  }
}
